{% extends "public/base.html" %}


{% block extra_link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="project-title" id="middle-body">
    {% for i in file_name_list%}
    <a href="{{url_for('VisualizationView:csv_detail', file_name= i)}}"><h1>{{i}}</h1></a>
    {%endfor%}
</div>

{% endblock %}

{% block extra_script %}

{% endblock %}
